---
apiVersion: cluster.x-k8s.io/v1beta2
kind: MachineHealthCheck
metadata:
   labels:
    cluster.x-k8s.io/cluster-name: {{ include "cluster-api-kamaji-proxmox.cluster-name" $ | quote }}
  name: {{ include "cluster-api-kamaji-proxmox.cluster-name" . }}
  namespace: {{ .Release.Namespace }}
spec:
  clusterName: {{ include "cluster-api-kamaji-proxmox.cluster-name" $ | quote }}
  selector:
    matchLabels:
      cluster.x-k8s.io/cluster-name: {{ include "cluster-api-kamaji-proxmox.cluster-name" $ | quote }}
      node-role.kubernetes.io/node: ""
  checks:
    unhealthyNodeConditions:
    - type: Ready
      status: Unknown
      timeoutSeconds: {{ .Values.nodePools.unhealthyNodeConditionsTimeout }}
    - type: Ready
      status: "False"
      timeoutSeconds: 300